* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  background-color: yellow;
  flex-direction: column;
}

.header {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  background-color: black;
  padding: 50px;
  color: white;
}

.body-flex {
  margin-top: 8rem;
  display: flex;
}
