@import url("https://fonts.googleapis.com/css?family=Audiowide");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Audiowide", sans-serif;
  font-size: 40%;
}

.container {
  display: flex;
  background-color: #6c91bf;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style-type: none;

  font-size: 16px;
  padding: 12px;
}

p {
  font-size: 16px;
}

li,
p {
  display: flex;
  justify-content: center;
}

.select-range {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100%;
}

.range-number {
  background-color: #6c91bf;
}

.pick-colour {
  appearance: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-style: solid;
  border-color: white;
  display: block;
  margin: 10px auto;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  background-color: #6c91bf;
  padding: 50px;
  color: black;
}

.section {
  margin-top: 1rem;
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.menu {
  display: flex;
  align-items: center;
  border: 10px solid #5bc8af;
  padding: 12px;
  background-color: white;
}

.grid-container {
  display: grid;
  border: 10px solid #5bc8af;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
}
